{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<head></head>
<body>
  <nav>
    <ul>
      <li><a href="accounts/signup">Sign Up</a></li>
      <li><a href="accounts/signin">Sign in</a></li>
    </ul>
  </nav>
  <div class="fh5co-listing">
    <div class="container">
      {% for store in stores %}
        <div class="row">
        <div class="col-md-4 col-sm-4 fh5co-item-wrap">
          <a class="fh5co-listing-item">
            <img
              src="{{store.img.url}}"
              alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
              class="img-responsive"
            />
            <div class="fh5co-listing-copy">
              <h2>{{store.name}}</h2>
              <span class="icon">
                <i class="icon-chevron-right"></i>
              </span>
            </div>
          </a>
        </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

</body>
</html>
